@font-face {
  font-family: "Boska";
  src: url("../fonts/Boska-Variable.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Boska";
  src: url("../fonts/Boska-VariableItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
/* Big Screen (256rem - 144rem) */
/* Tablet & Desktop (119.9rem - 76.8rem) */
/* Mobile (76.7rem - 32rem) */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Satoshi", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  position: relative;
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  width: 100%;
}

.heading-6, .heading-5, .heading-4, .heading-3, .heading-2, .heading-1 {
  font-family: "Glacial Indifference", sans-serif;
}

.heading-1 {
  font-size: 8.8rem;
  color: #ffffff;
  font-weight: 400;
}

.heading-2 {
  font-size: 7.2rem;
  font-weight: 400;
}

.heading-3 {
  font-size: 5.6rem;
  font-weight: 400;
}

.heading-4 {
  font-size: 4rem;
  font-weight: 400;
}

.heading-5 {
  font-weight: 400;
  font-size: 3.2rem;
}

.heading-6 {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.168rem;
}

.body-sm-medium {
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Satoshi", sans-serif;
  line-height: 2.24rem;
}

.body-xl-bold {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Satoshi", sans-serif;
  line-height: 1.5rem;
}

.body-xl-medium {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Satoshi", sans-serif;
  line-height: 3.2rem;
}

.body-xl-regular {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Satoshi", sans-serif;
  line-height: 3.2rem;
}

.body-big-regular {
  font-size: 2.4rem;
  font-weight: 400;
  font-family: "Satoshi", sans-serif;
  line-height: 3.84rem;
}

.body-md-regular {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Satoshi", sans-serif;
  line-height: 2.56rem;
  color: rgb(97, 97, 97);
}

.body-md-bold {
  font-size: 1.6rem;
  font-weight: 700;
  font-family: "Satoshi", sans-serif;
  line-height: 2.56rem;
  color: rgb(97, 97, 97);
}

.boska-lg-bold {
  font-size: 8.2rem;
  font-weight: 700;
  font-family: "Boska", sans-serif;
  font-style: italic;
}

.boska-md-bold {
  font-size: 7.2rem;
  font-weight: 700;
  font-family: "Boska", sans-serif;
  font-style: italic;
}

.navbar {
  height: 9.4rem;
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 8rem;
  /* Mobile (76.7rem - 32rem) */
}
@media screen and (max-width: 767px) {
  .navbar {
    height: 8rem;
    padding: 2.4rem 1.6rem;
  }
}

.nav {
  z-index: 10;
}
.nav__logo {
  width: 20.77rem;
  height: 2.8rem;
}
@media screen and (max-width: 767px) {
  .nav__logo {
    width: 17.8rem;
    height: 2.4rem;
    gap: 0.739rem;
  }
}
.nav__left, .nav__right {
  display: flex;
  align-items: center;
}
.nav__right {
  display: flex;
  gap: 4.8rem;
}
@media screen and (max-width: 767px) {
  .nav__right {
    gap: 0.4rem;
  }
}

.contact {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 10rem;
  padding: 1.2rem 2.4rem;
  gap: 0.8rem;
}
@media screen and (min-width: 1800px) {
  .contact {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}
@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}

.nav-btn {
  border: none;
  border-radius: 0;
  background-color: transparent;
  height: 2.5rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s;
}

.nav-btn::before {
  content: "";
  display: block;
  width: 3rem;
  height: 1.5px;
  background-color: #fff;
  box-shadow: 0 0.8rem 0 #fff, 0 -0.8rem 0 #fff;
}

.menu {
  display: none;
  position: fixed;
}

.menu.menu--active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.menu__layout {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) rgb(36, 36, 36);
  background-image: url(../img/menu__bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navigation,
.grid {
  position: relative;
  z-index: 10;
}

.navigation {
  width: 100%;
  max-height: 8.8rem;
  padding: 2.4rem 8rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .navigation {
    padding: 1.4rem 2rem;
    margin-top: 1rem;
    max-height: 5.8rem;
  }
}
.navigation__icon {
  width: 3rem;
  height: 3rem;
  background-color: rgb(97, 97, 97);
  border-radius: 50%;
  padding: 0.3333rem 0.3333rem;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 10;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .navigation__icon {
    width: 2rem;
    height: 2rem;
  }
}

.grid {
  display: flex;
  padding: 5rem 8rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .grid {
    flex-direction: column;
    padding: 2rem 4rem;
  }
}
.grid__left {
  list-style: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  max-height: 52.4rem;
  max-width: 51rem;
}
.grid__left-link {
  display: flex;
  padding: 1.6rem;
  gap: 1rem;
  justify-content: space-between;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  border-bottom: 1px solid rgb(97, 97, 97);
}
@media screen and (max-width: 1199px) {
  .grid__left-link {
    font-size: 2rem;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    padding: 1rem;
  }
}
.grid__right {
  padding-left: 10rem;
  padding-top: 2rem;
  width: 100%;
  height: 100%;
}
@media (max-width: 1199px) {
  .grid__right {
    padding: 0 5rem;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
  }
}
@media (max-width: 767px) {
  .grid__right {
    padding-left: 0;
    padding-top: 2rem;
  }
}
.grid__right-box {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
@media (max-width: 1199px) {
  .grid__right-box {
    justify-content: center;
  }
}
@media (max-width: 450px) {
  .grid__right-box {
    flex-direction: column;
    justify-content: center;
  }
}
.grid__right-title {
  color: rgb(255, 255, 255);
  line-height: 4.224rem;
}
@media (max-width: 1199px) {
  .grid__right-title {
    font-size: 2rem;
    line-height: 3rem;
  }
}
.grid__right-text {
  color: rgb(245, 245, 245);
  line-height: 2.56rem;
}
@media (max-width: 1199px) {
  .grid__right-text {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
.grid__right-item {
  flex: 1 1 calc(50% - 10px);
  max-width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1.5rem;
}
@media (max-width: 1199px) {
  .grid__right-item {
    max-width: 100%;
    flex: 1;
  }
}
.grid__right-contact {
  border: 1px solid rgb(255, 255, 255);
  width: 12.9rem;
  height: 4.6rem;
  gap: 0.8rem;
  padding: 1.2rem 2.4rem;
  border-radius: 10rem;
  border-width: 1px;
  color: rgb(255, 255, 255);
}

.hero {
  max-height: auto;
  height: 80rem;
  width: 100vw;
  background-color: #030303;
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/header-pattern.png) no-repeat center bottom;
  z-index: 0;
}
@media screen and (max-width: 767px) {
  .hero {
    max-height: 56.8rem;
  }
  .hero::before {
    background: url(../img/pattern-hero-hp.png) no-repeat center bottom;
  }
}

.header {
  height: 100%;
  width: 100%;
  max-height: 31.4rem;
  max-width: 106rem;
  gap: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 13.8rem;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 767px) {
  .header {
    height: 100%;
    width: 100%;
    max-height: 23.3rem;
    max-width: 34.3rem;
    top: 10.4rem;
    gap: 1.2rem;
  }
}
.header__title-our {
  justify-content: center;
  text-align: center;
  color: #0DA7A2;
  z-index: 2;
  line-height: 4.992rem;
}
@media screen and (max-width: 767px) {
  .header__title-our {
    font-size: 2.4rem;
    line-height: 3.168rem;
  }
}
.header__title-era {
  justify-content: center;
  text-align: center;
  text-wrap: balance;
  z-index: 2;
  line-height: 11.16rem;
}
@media screen and (max-width: 767px) {
  .header__title-era {
    font-size: 4.8rem;
    line-height: 6.336rem;
  }
}
.header__title-era span {
  display: inline;
}
@media screen and (max-width: 767px) {
  .header__title-era span {
    font-size: 4.8rem;
  }
}

.mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
.about {
  height: auto;
  padding-bottom: 10rem;
  position: relative;
}
.about::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/about-pattern.png") no-repeat center bottom;
  background-size: contain;
  z-index: 0;
}
@media screen and (max-width: 1199px) {
  .about::before {
    background: none;
  }
}
@media screen and (max-width: 767px) {
  .about::before {
    background: url("../img/pattern__about-mobile.png") no-repeat;
    display: flex;
    background-position: top right;
    background-size: contain;
  }
}
.about__title, .about__grid {
  position: relative;
  z-index: 1;
}
.about__title {
  display: flex;
  flex-direction: column;
  padding: 0 8rem;
  padding-top: 16rem;
  gap: 3.2rem;
}
@media screen and (max-width: 1199px) {
  .about__title {
    margin-top: 4.8rem;
    padding: 0 1.6rem;
  }
}
@media screen and (max-width: 767px) {
  .about__title {
    padding-top: 4.8rem;
    margin-top: 0;
    gap: 0;
  }
}
@media screen and (min-width: 1800px) {
  .about__title-text {
    margin-top: 5rem;
  }
}
.about__title-mini {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
@media screen and (max-width: 767px) {
  .about__title-mini {
    padding-bottom: 1.5rem;
  }
}
.about__title-mini::before {
  content: "";
  height: 2px;
  width: 3.2rem;
  display: block;
  background-color: #10C9C3;
}
@media screen and (min-width: 1800px) {
  .about__title-mini--text {
    font-size: 5rem;
  }
}
@media screen and (max-width: 767px) {
  .about__title-mini--text {
    font-size: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .about__title-who {
    padding-bottom: 1.5rem;
  }
}
.about__title-who--text {
  /* Mobile (76.7rem - 32rem) */
}
@media screen and (max-width: 767px) {
  .about__title-who--text {
    font-size: 3.2rem;
  }
}
.about__grid {
  display: flex;
  margin: 0 8rem;
  /* Mobile (76.7rem - 32rem) */
}
@media screen and (min-width: 1800px) {
  .about__grid {
    display: flex;
    padding: 0 20rem;
  }
}
@media screen and (max-width: 1199px) {
  .about__grid {
    display: flex;
    flex-direction: column;
    margin: 0 1.6rem;
  }
}
.about__paragraph {
  display: flex;
  flex-direction: column;
  width: 29rem;
  height: 51rem;
  gap: 2.4rem;
  margin-top: 3rem;
  /* Mobile (76.7rem - 32rem) */
  /* Mobile (76.7rem - 32rem) */
}
@media screen and (min-width: 1800px) {
  .about__paragraph {
    width: 55rem;
    height: 51rem;
  }
}
@media screen and (max-width: 1199px) {
  .about__paragraph {
    margin-top: 0;
    height: auto;
    width: auto;
  }
}
.about__paragraph-overview {
  gap: 1.2rem;
  display: flex;
  flex-direction: column;
}
.about__paragraph-overview--number {
  line-height: 8.736rem;
  /* Mobile (76.7rem - 32rem) */
  color: #0DA7A2;
}
@media screen and (max-width: 1340px) {
  .about__paragraph-overview--number {
    font-size: 4rem;
    line-height: 9rem;
  }
}
@media screen and (max-width: 1199px) {
  .about__paragraph-overview--number {
    font-size: 2.4rem;
    line-height: 3.168rem;
  }
  .about__paragraph-overview--number::after {
    content: "";
    height: 1px;
    width: auto;
    display: block;
    background-color: rgb(224, 224, 224);
    margin-top: 0.5rem;
  }
}
.about__paragraph-overview--number span {
  color: rgb(36, 36, 36);
}
@media screen and (max-width: 1340px) {
  .about__paragraph-overview--number span {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1199px) {
  .about__paragraph-overview--number span {
    font-size: 1.6rem;
  }
}
.about__wrapper {
  width: 94.2rem;
  height: 50.2rem;
  border-radius: 0.8rem;
  margin-top: 3.3rem;
  margin-left: 5rem;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1199px) {
  .about__wrapper {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
.about__wrapper-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 1800px) {
  .about__title-text {
    display: flex;
    justify-content: center;
    padding: 0 20rem;
  }
}
.about__text {
  color: rgb(36, 36, 36);
  /* Mobile (76.7rem - 32rem) */
}
@media screen and (min-width: 1800px) {
  .about__text {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 1199px) {
  .about__text {
    font-size: 1.6rem;
    line-height: 2.56rem;
    color: rgb(97, 97, 97);
  }
}

.value {
  width: 100vw;
  height: auto;
  overflow: hidden;
}
@media screen and (max-width: 1199px) {
  .value {
    height: auto;
  }
}
.value__bg {
  background-image: url(../img/values_bg.jpeg);
  background-size: cover;
  position: relative;
  height: auto;
  width: 100%;
  max-width: inherit;
  background-position: center;
  /* Mobile (76.7rem - 32rem) */
}
@media screen and (max-width: 1199px) {
  .value__bg {
    background-size: cover;
  }
}
.value__bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(2, 19, 18, 0.72);
}
.value__bg::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15rem;
  background: url(../img/value-pattern.png) no-repeat center bottom;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .value__bg::after {
    background: none;
  }
}

.value__title,
.box {
  position: relative;
  z-index: 2;
  color: #ffffff;
}

.value__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16rem;
  color: #ffffff;
  gap: 3.2rem;
  /* Mobile (76.7rem - 32rem) */
}
@media screen and (max-width: 1199px) {
  .value__title {
    padding-top: 4.8rem;
    gap: 0.8rem;
  }
}
.value__title--mini {
  /* Mobile (76.7rem - 32rem) */
}
@media screen and (max-width: 1199px) {
  .value__title--mini {
    font-size: 2rem;
    line-height: 2.64rem;
  }
}
.value__title--core {
  /* Mobile (76.7rem - 32rem) */
}
@media screen and (max-width: 1199px) {
  .value__title--core {
    font-size: 3.2rem;
    line-height: 4.24rem;
  }
}
.value__title--core span {
  text-align: center;
  /* Mobile (76.7rem - 32rem) */
}
@media screen and (max-width: 1199px) {
  .value__title--core span {
    font-size: 3.2rem;
    line-height: 4.24rem;
  }
}
.value__title--core p {
  width: fit-content;
  margin: auto;
}

.box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16rem;
}
@media screen and (min-width: 1800px) {
  .box {
    justify-content: center;
    gap: 20rem;
  }
}
@media screen and (max-width: 1199px) {
  .box {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 5rem;
  }
}
.box__grid, .box__grid-img {
  width: 100%;
  max-height: 60.7rem;
  max-width: 48rem;
}
@media screen and (max-width: 1199px) {
  .box__grid, .box__grid-img {
    max-height: 22.8rem;
    height: auto;
    max-width: 50.3rem;
    object-fit: cover;
  }
}
@media screen and (max-width: 767px) {
  .box__grid, .box__grid-img {
    max-height: 17.8rem;
    height: auto;
    max-width: 34.3rem;
    object-fit: cover;
  }
}
.box__grid {
  position: relative;
  margin-top: 10rem;
}
@media screen and (max-width: 1199px) {
  .box__grid {
    margin-top: 4rem;
  }
}
.box__grid-img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.56);
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.box__grid-img--2:hover {
  opacity: 0.8;
}
.box__grid:hover .box__grid-img {
  opacity: 1;
}
.box__grid-2 {
  border-left: 1px solid rgb(194, 194, 194);
  border-right: 1px solid rgb(194, 194, 194);
}
@media screen and (max-width: 1199px) {
  .box__grid-2 {
    border-left: none;
    border-right: none;
  }
  .box__grid-2::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -2rem;
    height: 1px;
    background-color: rgb(194, 194, 194);
  }
}
.box__grid-3 {
  position: relative;
}
@media screen and (max-width: 1199px) {
  .box__grid-3::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -2rem;
    height: 1px;
    background-color: rgb(194, 194, 194);
  }
}
.box__grid-container--img {
  z-index: 0;
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  width: 100%;
  z-index: 1;
}
.box__grid-content {
  padding: 0 8rem;
  padding-top: 5rem;
  position: absolute;
  z-index: 10;
}
@media screen and (max-width: 1199px) {
  .box__grid-content {
    padding-top: 1rem;
    padding: 0 1.2rem;
  }
}
.box__grid-content--number {
  margin-bottom: 2.4rem;
}
@media screen and (max-width: 1199px) {
  .box__grid-content--number {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
  }
}
@media screen and (max-width: 767px) {
  .box__grid-content--number {
    font-size: 1.6rem;
    line-height: 2.56rem;
    margin-bottom: 1.2rem;
  }
}
.box__grid-content--heading {
  margin-bottom: 2rem;
}
@media screen and (max-width: 1199px) {
  .box__grid-content--heading {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .box__grid-content--heading {
    font-size: 2rem;
    line-height: 2.64rem;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 1199px) {
  .box__grid-content--text {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 767px) {
  .box__grid-content--text {
    font-size: 1.4rem;
    line-height: 2.24rem;
  }
}
.box__grid-content--1 {
  margin-top: 8rem;
  /* Mobile (76.7rem - 32rem) */
}
@media screen and (max-width: 1199px) {
  .box__grid-content--1 {
    margin-top: 1rem;
  }
}
.box__grid-content--2 {
  margin-top: 15rem;
}
@media screen and (max-width: 1199px) {
  .box__grid-content--2 {
    margin-top: 1.5rem;
  }
}
.box__grid-content--3 {
  margin-top: 20rem;
}
@media screen and (max-width: 1199px) {
  .box__grid-content--3 {
    margin-top: 1.5rem;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.56);
  opacity: 0;
}

.box__grid:hover .overlay {
  opacity: 1;
}

@media screen and (max-width: 1199px) {
  .box__grid.active .overlay {
    opacity: 1;
    pointer-events: auto;
  }
  .box__grid.active .box__grid-img {
    opacity: 1;
    visibility: visible;
  }
}
.branch {
  padding: 16rem 8rem;
}
@media screen and (max-width: 1199px) {
  .branch {
    padding: 4.8rem 1.6rem;
  }
}
.branch__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 88rem;
  max-height: 25.4rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  gap: 3.2rem;
}
@media screen and (max-width: 1199px) {
  .branch__title {
    max-height: 20.8rem;
    max-width: 60rem;
    top: 1rem;
    gap: 0.8rem;
  }
}
@media screen and (max-width: 767px) {
  .branch__title {
    max-height: 11.8rem;
    max-width: 36.3rem;
    top: 1.4rem;
    text-align: center;
  }
}
.branch__title-1 {
  line-height: 3.16rem;
  letter-spacing: -3%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1199px) {
  .branch__title-1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 767px) {
  .branch__title-1 {
    font-size: 2rem;
    line-height: 2.64rem;
  }
}
.branch__title-2 {
  line-height: 9.504rem;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .branch__title-2 {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 767px) {
  .branch__title-2 {
    font-size: 3.2rem;
    line-height: 4.224rem;
  }
}
.branch__title-2 span {
  line-height: 9.5rem;
  letter-spacing: -3%;
  text-align: center;
  width: fit-content;
  margin: auto;
}
@media screen and (max-width: 1199px) {
  .branch__title-2 span {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 767px) {
  .branch__title-2 span {
    font-size: 3.2rem;
    line-height: 4.224rem;
    font-family: "Glacial Indifference", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

.map {
  display: flex;
  justify-content: space-between;
  margin-top: 7.2rem;
}
@media screen and (min-width: 1800px) {
  .map {
    justify-content: center;
    gap: 30rem;
  }
}
@media screen and (max-width: 1199px) {
  .map {
    flex-direction: column;
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
  }
}
.map__left {
  width: auto;
}
@media screen and (max-width: 1199px) {
  .map__left {
    margin: 3.2rem 0;
    display: flex;
    flex-wrap: wrap;
  }
}
.map__left-container {
  max-width: 24.8rem;
}
.map__left-title {
  padding-bottom: 0.5rem;
}
.map__left-title:not(:first-child) {
  padding-top: 1rem;
}
@media screen and (min-width: 1800px) {
  .map__left-title {
    font-size: 3.8rem;
    line-height: 5rem;
  }
}
@media screen and (max-width: 767px) {
  .map__left-title {
    font-size: 2rem;
    line-height: 2.64rem;
    padding-bottom: 0.5rem;
  }
}
.map__left-text p {
  padding-bottom: 0.8rem;
  color: rgb(97, 97, 97);
}
@media screen and (min-width: 1800px) {
  .map__left-text p {
    font-size: 2rem;
    line-height: 2.24rem;
  }
}
@media screen and (max-width: 767px) {
  .map__left-text p {
    font-size: 1.4rem;
    line-height: 2.24rem;
  }
}
.map__right-img {
  height: 100%;
  width: 100%;
  max-width: 95rem;
  max-height: 52.6rem;
}

.create {
  position: relative;
  height: 63.8rem;
}
@media screen and (max-width: 767px) {
  .create {
    height: 27.1rem;
  }
}
.create::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/create-pattern.png") no-repeat center bottom;
  background-size: cover;
  z-index: 1;
}
.create__bg {
  background-image: url("../img/create-bg.jpeg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-width: 767px) {
  .create__bg {
    background-image: none;
    background-color: #030303;
  }
}
.create__bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(3, 3, 3);
}
.create__title {
  position: absolute;
  top: 50%;
  left: 50%;
  justify-content: center;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  text-align: center;
  z-index: 2;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .create__title {
    width: 34.3rem;
    max-height: 8.5rem;
    gap: 3.2rem;
  }
}
.create__title span {
  line-height: 9.5rem;
  letter-spacing: -3%;
}
@media screen and (max-width: 767px) {
  .create__title span {
    font-size: 3.2rem;
    line-height: 4.224rem;
  }
}
@media screen and (max-width: 767px) {
  .create__title-1 {
    font-size: 3.2rem;
    line-height: 4.224rem;
  }
}
.create__btn {
  text-decoration: none;
  background-color: #0DA7A2;
  color: #ffffff;
  width: 25.6rem;
  height: 8rem;
  border-radius: 10rem;
  padding: 2.4rem 4.8rem;
  gap: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .create__btn {
    width: 19.5rem;
    height: 5.8rem;
  }
}
@media screen and (max-width: 767px) {
  .create__btn-text {
    font-size: 1.6rem;
    line-height: 2.56rem;
  }
}
@media screen and (max-width: 767px) {
  .create__btn-icon {
    min-width: 2rem;
    min-height: 2rem;
  }
}

.footer {
  height: 60.4rem;
}
@media screen and (max-width: 767px) {
  .footer {
    height: 48rem;
  }
}

.nav * {
  box-sizing: border-box;
}

.nav {
  width: 100%;
  max-width: 144rem;
  height: 15.4rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  list-style: none;
  padding: 4rem 8rem;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
}
@media screen and (max-width: 767px) {
  .nav {
    height: 11.6rem;
    padding: 4.8rem 1rem 2.4rem;
    max-width: 76.7rem;
  }
}
@media screen and (max-width: 450px) {
  .nav {
    height: 9.8rem;
    padding: 4.8rem 1.6rem 2.4rem;
  }
}
.nav__link {
  color: rgb(97, 97, 97);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  line-height: 7.392rem;
}
.nav__link:hover {
  color: #10C9C3;
}
@media screen and (max-width: 1270px) {
  .nav__link {
    font-size: 4rem;
  }
}
@media screen and (max-width: 1000px) {
  .nav__link {
    font-size: 3rem;
  }
}
@media screen and (max-width: 767px) {
  .nav__link {
    font-size: 2rem;
    line-height: 2.64rem;
    gap: 1.6rem;
  }
}
.nav__item {
  position: relative;
  padding: 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__item:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 100%;
  width: 1px;
  background-color: rgb(224, 224, 224);
  transform: translateX(-50%) translateY(-50%);
}
@media screen and (max-width: 767px) {
  .nav__item {
    padding: 0 4.5rem;
  }
}
@media screen and (max-width: 450px) {
  .nav__item {
    padding: 0 1.5rem;
  }
}

.contacts {
  width: 100vw;
  max-height: 30.4rem;
  height: 100%;
  position: relative;
}
.contacts::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/pattern_footer.png);
  background-size: cover;
  z-index: 1;
  display: flex;
  justify-content: end;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  opacity: 40%;
}
@media screen and (max-width: 767px) {
  .contacts::before {
    background-image: none;
  }
}
.contacts__grid {
  display: flex;
  justify-content: space-between;
  z-index: 3;
  position: relative;
  padding: 7.2rem 8rem;
}
@media screen and (max-width: 767px) {
  .contacts__grid {
    flex-direction: column;
    padding: 0 1.6rem;
    margin-top: 2.4rem;
  }
}
.contacts__grid-left {
  max-width: 51.9rem;
  max-height: 20rem;
}
@media screen and (max-width: 767px) {
  .contacts__grid-left {
    margin-bottom: 1rem;
  }
}
.contacts__grid-left p {
  color: rgb(97, 97, 97);
  margin-bottom: 2rem;
}
@media screen and (min-width: 1800px) {
  .contacts__grid-left p {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
@media screen and (max-width: 767px) {
  .contacts__grid-left p {
    font-size: 1.4rem;
    line-height: 2.24rem;
  }
}
.contacts__grid-left--text {
  width: 24.8rem;
  height: 12rem;
  gap: 1.6rem;
  padding-top: 3rem;
}
@media screen and (max-width: 767px) {
  .contacts__grid-left--text {
    width: 100%;
    max-width: 24.8rem;
    gap: 0.8rem;
    padding: 2.4rem 0;
  }
}
@media screen and (max-width: 767px) {
  .contacts__grid-right {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    max-width: 23.7rem;
    max-height: 3.2rem;
    width: 100%;
    height: 100%;
  }
}

.icon {
  display: flex;
  gap: 1rem;
}
.icon__bg {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 245, 245);
  border-radius: 50%;
}
.icon svg {
  width: 2.13rem;
  height: 2.13rem;
}

.copyright {
  width: 100%;
  height: 10.6rem;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0%;
  border-top: 1px solid #E0E0E0;
}
@media screen and (max-width: 767px) {
  .copyright {
    flex-direction: column;
    padding: 2.4rem 1.6rem;
    align-items: start;
  }
}
@media screen and (min-width: 1800px) {
  .copyright p {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
.copyright__link {
  text-decoration: none;
  color: inherit;
}
@media screen and (min-width: 1800px) {
  .copyright__link {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
.copyright__right-text {
  display: flex;
  list-style: none;
  gap: 4rem;
}

/*# sourceMappingURL=style.css.map */
