.header {
    height: 100%;
    width: 100%;
    max-height: 31.4rem;
    max-width: 106rem;
    gap: 3.2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 13.8rem;
    left: 50%;
    transform: translateX(-50%); 


    @media screen and (max-width: 767px){
        height: 100%;
        width: 100%;
        max-height: 23.3rem;
        max-width: 34.3rem;
        top: 10.4rem;
        gap: 1.2rem;
    }

    &__title{
        &-our{
            justify-content: center;
            text-align: center; 
            color: $color-primary;
            z-index: 2;

            line-height: 4.992rem;
            @media screen and (max-width: 767px) {
                font-size: 2.4rem;
                line-height: 3.168rem;
            }
        }

        &-era{
            justify-content: center;
            text-align: center; 
            text-wrap: balance;
            z-index: 2;
            line-height: 11.16rem;

            @media screen and (max-width: 767px) {
                font-size: 4.8rem;
                line-height: 6.336rem;
        
            }    
            
            span{
                display: inline;
                @media screen and (max-width: 767px) {
                    font-size: 4.8rem;
            
                }    
            }
        }   
    }
}

.mobile {
    display: none;
}

@media screen and (max-width: 767px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}